@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mincho";
  src: url("../../public/HGRMB_0.TTC");
}

.markdown-body {
  color-scheme: dark;
}

.posts-board {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .posts-board {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
}
